@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  img {
    width: 12px;
    height: 12px;
    margin-right: 13px;
  }
}

p,
.billing {
  color: hsl(225, 20%, 60%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
